<p *ngIf="chordQuestionGenerator.question">
  Play {{ chordQuestionGenerator.question }} chord
</p>
<p *ngIf="!chordQuestionGenerator.question">No chords enabled!</p>
<input type="checkbox"
  [(ngModel)]="chordQuestionGenerator.enableSharps"
  (change)="chordQuestionGenerator.generateChordNames()">
Sharps
<input type="checkbox"
  [(ngModel)]="chordQuestionGenerator.enableNaturals"
  (change)="chordQuestionGenerator.generateChordNames()">
Naturals
<br />
<br />
<h3>Enabled chord types</h3>
<div *ngFor="let item of chordQuestionGenerator.enableChords | keyvalue">
  <input type="checkbox"
    [(ngModel)]="chordQuestionGenerator.enableChords[item.key]"
    (change)="chordQuestionGenerator.generateChordNames()">
  {{ chordNames[item.key] }}
</div>
