<p>Play {{ question }} chord</p>
<mat-checkbox [(ngModel)]="chordQuestionGenerator.enableSharps" (change)="chordQuestionGenerator.generateChordNames()"></mat-checkbox> Sharps
<mat-checkbox [(ngModel)]="chordQuestionGenerator.enableNaturals" (change)="chordQuestionGenerator.generateChordNames()"></mat-checkbox> Naturals
<div *ngFor="let item of chordQuestionGenerator.enableChords | keyvalue">
  {{ item }}
  <!-- <mat-checkbox [(ngModel)]="chordQuestionGenerator.enableChords[item.key]" (change)="chordQuestionGenerator.generatechordNames()"></mat-checkbox> {{ chordNames[item.key] }} -->
</div>